<!-- Header -->
<header class="header header-one">
  <div class="header-fixed">
  <nav class="navbar navbar-expand-lg header-nav">
      <div class="container">
          <div class="navbar-header">
              <a id="mobile_btn" href="javascript:void(0);">
                  <span class="bar-icon">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </a>
              <a href="/" class="navbar-brand logo">
                  <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
              </a>
          </div>
      </div>		
  </nav>
  </div>
</header>
<!-- /Header -->
