<mat-toolbar color="primary" class="header-container">
  <!-- Logo -->
  <div class="logo">
    <a mat-button routerLink="/" class="logo-link">Avancira</a>
  </div>

  <!-- Right Side Menu -->
  <div class="header-menu">
    <ng-container *ngIf="isLoggedIn(); else guestMenu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard">My Dashboard</button>
        <button mat-menu-item routerLink="/messages">Messages</button>
        <button mat-menu-item routerLink="/listings">My Listings</button>
        <button mat-menu-item routerLink="/profile">My Profile</button>
        <button mat-menu-item routerLink="/premium">Premium</button>
        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </ng-container>

    <!-- Guest Menu -->
    <ng-template #guestMenu>
      <div class="guest-menu">
        <button mat-button [routerLink]="'/signup'">Register</button>
        <button mat-button [routerLink]="'/signin'">Login</button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>