.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .logo {
    a {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      color: white;
    }
  }

  .header-menu {
    display: flex;
    align-items: center;

    mat-icon-button {
      color: white;
    }

    .guest-menu {
      display: flex;
      gap: 10px;

      button {
        color: white;
      }
    }
  }
}
