<app-header-center></app-header-center>

<div class="states-section">
  <mat-card class="mat-elevation-z3">
    <mat-card-title>States and Territories</mat-card-title>
    <mat-card-content>
      <p>Browse the range of courses available near you</p>
      <mat-icon class="globe-icon">public</mat-icon>
    </mat-card-content>
  </mat-card>

  <mat-card class="states-list mat-elevation-z1">
    <mat-list>
      <mat-list-item *ngFor="let state of states">
        <mat-icon color="primary">location_on</mat-icon>
        <p>{{ state }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>

<app-footer></app-footer>
