<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-table">
                    <div class="card-body">
                        <button class="btn btn-sm btn-primary" (click)="openCreateListingModal()">+ Create</button>

                        <ng-template #visibilityCell let-item let-value="value">
                            <button class="btn btn-sm btn-outline-info" (click)="toggleVisibility(item)">
                                <i class="fas" [ngClass]="{'fa-eye': value, 'fa-eye-slash': !value}"></i>
                            </button>
                        </ng-template>

                        <app-table [data]="listings" [columns]="listingColumns" [actions]="listingActions" [page]="page"
                            [pageSize]="pageSize" [totalResults]="totalResults" [pageSizeOptions]="pageSizeOptions"
                            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
                        </app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Create Listing -->
    <app-create-listing *ngIf="isCreateListingModalOpen" (onClose)="closeCreateListingModal()"></app-create-listing>

    <!-- Modal for Edit Listing -->
    <app-edit-listing *ngIf="isEditListingModalOpen" [listing]="selectedListing" [editingSection]="editingSection"
        (onClose)="closeEditListingModal()"></app-edit-listing>

</div>