<mat-card class="address-container">
  <mat-card-title>Address 📍</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Search for an address</mat-label>
      <input
        matInput
        id="search-box"
        type="text"
        placeholder="Enter address"
        [(ngModel)]="initialAddress"
      />
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>

    <div id="map" class="map-container"></div>
  </mat-card-content>
</mat-card>
