<app-header></app-header>
<div class="main-wrapper" style="transform: none;">
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ currentPage }}</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">{{ currentPage }}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                    <!-- Sidebar -->
                    <div class="profile-sidebar">
                        <div class="user-widget">
                            <app-profile-image class="pro-avatar" [profileImagePath]="user.profileImagePath"
                                [firstName]="user.firstName" [lastName]="user.lastName"></app-profile-image>
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="user-info-cont">
                                <h4 class="usr-name">{{ user.firstName }} {{ user.lastName }}</h4>
                                <p>{{ user.address }}</p>
                                <div class="profile-status">
                                    <p><strong>Profile Verified:</strong>
                                        {{ user.profileVerified && user.profileVerified.length > 0 ?
                                        user.profileVerified.join(', ') : 'Not Verified' }}
                                    </p>
                                    <p><strong>Lessons Completed:</strong> {{ user.lessonsCompleted }}</p>
                                    <p><strong>Evaluations:</strong> {{ user.evaluations }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="progress-bar-custom">
                            <h6>Complete your profiles ></h6>
                            <div class="pro-progress">
                                <div class="tooltip-toggle" tabindex="0"></div>
                                <div class="tooltip">{{ user.profileCompletion }}</div>
                            </div>
                        </div>
                        <div class="custom-sidebar-nav">
                            <ul>
                                <li><a href="dashboard" class="active"><i class="fas fa-home"></i>Dashboard <span><i
                                                class="fas fa-chevron-right"></i></span></a></li>
                                <li><a href="messages"><i class="fas fa-comments"></i>Messages <span><i
                                                class="fas fa-chevron-right"></i></span></a></li>
                                <li><a href="dashboard/invoices"><i class="fas fa-file-invoice"></i>Invoices <span><i
                                                class="fas fa-chevron-right"></i></span></a></li>
                                <li><a href="evaluations"><i class="fas fa-eye"></i>Reviews <span><i
                                                class="fas fa-chevron-right"></i></span></a></li>
                                <li><a href="listings"><i class="fab fa-blogger-b"></i>My Listings <span><i
                                                class="fas fa-chevron-right"></i></span></a></li>
                                <li><a href="dashboard/profile"><i class="fas fa-user-cog"></i>Profile <span><i
                                                class="fas fa-chevron-right"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Sidebar -->
                </div>

                <div class="col-md-7 col-lg-8 col-xl-9">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->
</div>