.badge-Proposed {
    background-color: #f0ad4e; /* Orange-yellow */
    color: #fff;
  }
  
  .badge-Booked {
    background-color: #5cb85c; /* Green */
    display: inline-block;
  }
  
  .badge-Canceled {
    background-color: #d9534f; /* Red */
    display: inline-block;
  }
  
  .badge-Completed {
    background-color: #0275d8; /* Blue */
    display: inline-block;
  }
  