<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0">
                    <div class="card-body">
                        <app-table [data]="lessons" [columns]="lessonColumns" [actions]="lessonActions" [page]="page"
                            [pageSize]="pageSize" [totalResults]="totalResults" [pageSizeOptions]="pageSizeOptions"
                            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
                        </app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
