.full-width {
  width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.no-payment-details-container {
  text-align: center;
  padding: 20px;
  
  .icon-container {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .warning-message {
    font-size: 1.2rem;
    color: #d32f2f;
  }
}

.success-message {
  color: #388e3c;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}
