<!-- Terms Accept -->
<div class="terms-accept">
  <div class="custom-checkbox">
    <input type="checkbox" id="terms_accept">
    <label for="terms_accept">I have read and accepted <a href="terms">Terms &amp;
        Conditions</a></label>
  </div>
</div>
<!-- /Terms Accept -->

<!-- Payment Method Selection -->
<div class="payment-method-selection">
  <label>
    <input type="radio" name="paymentMethod" value="card" [(ngModel)]="selectedPaymentMethod"
      (change)="onPaymentMethodChange('card')"> Credit Card
  </label>
  <label class="ms-3">
    <input type="radio" name="paymentMethod" value="paypal" [(ngModel)]="selectedPaymentMethod"
      (change)="onPaymentMethodChange('paypal')"> PayPal
  </label>
</div>

<!-- Credit Card Payment -->
<div *ngIf="selectedPaymentMethod === 'card'">
  <label class="payment-radio stripe-option">

    Pay with Credit/Debit Card
    <img
      src="https://e7.pngegg.com/pngimages/633/870/png-clipart-powerd-by-stripe-payment-methods-credit-cards-tech-companies-payments-thumbnail.png"
      alt="Stripe Logo" style="height: 24px;"></label>

  <app-manage-cards [cardPurpose]="CardType" (cardSelected)="onCardSelected($event)"></app-manage-cards>

  <!-- Submit Section -->
  <div class="submit-section mt-4">
    <button type="button" class="btn btn-primary submit-btn" (click)="confirmAndPay()">
      Confirm and Pay {{ totalPrice | currency: 'USD' }}
    </button>
  </div>
</div>

<!-- PayPal Payment -->
<div *ngIf="selectedPaymentMethod === 'paypal'">
  <div id="paypal-button-container"></div>
</div>