<app-modal *ngIf="isModalOpen" [isOpen]="isModalOpen" (onClose)="closeModal()">
  <app-leave-review [revieweeId]="selectedRevieweeId" (onClose)="closeModal()"></app-leave-review>
</app-modal>

<!-- Page Content -->
<div class="row">
  <div class="dashboard-container">

    <!-- Main Content -->
    <div class="main-content">
      <!-- Messages Section -->
      <div class="messages-section">
        <h3>My Messages</h3>
        <ul>
          <li *ngFor="let message of messages">
            <p><strong>{{ message.sender }}</strong> - {{ message.content }}</p>
            <span>{{ message.time }}</span>
          </li>
        </ul>
        <a href="/messages" class="view-all">See all messages</a>
      </div>

      <!-- Reviews Pending Section -->
      <div class="reviews-section">
        <h3>Reviews Pending</h3>
        <ul>
          <li *ngFor="let review of reviewsPending">
            <p><strong>{{ review.name }}</strong> - {{ review.feedback }}</p>
            <button class="btn btn-warning" (click)="openModal(review.revieweeId)">Leave a Review</button>
          </li>
        </ul>
        <a href="/evaluations" class="view-all">See all pending reviews</a>
      </div>

      <!-- Payments Section -->
      <div class="payments-section">
        <h3>My Payments</h3>
        <ul>
          <li *ngFor="let payment of payments">
            <p>{{ payment.date }} - {{ payment.description }}</p>
            <span [ngClass]="{ 'text-success': payment.amount > 0, 'text-danger': payment.amount < 0 }">
              {{ payment.amount | currency:'AUD' }}
            </span>
          </li>
        </ul>
        <a href="/profile" class="view-all">See all payments</a>
      </div>

      <!-- Listings Section -->
      <div class="listings-section">
        <h3>My Listings</h3>
        <ul>
          <li *ngFor="let listing of listings">
            <div class="listing">
              <app-profile-image [profileImagePath]="listing.listingImagePath" [firstName]="listing.tutorName"
                [lastName]=""></app-profile-image>

              <div>
                <h4>{{ listing.title }}</h4>
                <p>{{ listing.lessonCategory }}</p>
                <p>{{ listing.rates.hourly| currency:'AUD' }}</p>
                <button class="btn btn-secondary">Edit</button>
              </div>
            </div>
          </li>
        </ul>
        <a href="/listings" class="view-all">See all listings</a>
      </div>
    </div>
  </div>

</div>
<!-- /Page Content -->