<div class="stars">
  <mat-radio-group [(ngModel)]="rating" class="rating-group">
    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
      <mat-radio-button
        class="star-button"
        [value]="star"
        (change)="onRatingChange(star)"
        (mouseover)="onHover(star)"
        (mouseout)="onHover(0)"
      >
        <mat-icon
          class="star-icon"
          [ngClass]="{ selected: star <= (rating ?? 0), hovered: star <= hoveredStar }"
        >
          star
        </mat-icon>
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>
</div>
