.stars {
  display: flex;
  justify-content: center;
  gap: 5px;

  .rating-group {
    display: flex;
    gap: 5px;
  }

  .star-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .star-icon {
    font-size: 32px;
    color: #bdbdbd;
    transition: color 0.3s;

    &.selected {
      color: #ffca28;
    }

    &.hovered {
      color: #ffb300;
    }
  }
}
